registry=https://npm.slock.it
init.author.name = Junaid
init.author.email = junaid.taj@slock.it
# an email is required to publish npm packages
email=junaid.taj@slock.it
always-auth=true
_auth=SnVuYWlkOkdESmNjWmFBSmFIclpETnpZSndk
